img.photo1 {
	float: right;
}

h1 {
	color: #FFFFA3;
	text-align: center;
}

h2, h3, h4, h5, h6 {
	color: #FFFFA3;
}

body {
	background: url("background.jpg");
	background-size: 100% 100%;
	font-family: 'Shadows Into Light';
	font-size: 19px;
	color: #FFFFFF;
}

div {
	background-color: #111111;
	max-width: 700px;
	min-height: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: #FFFFFF;
}

a.menulink {
	display: block;
	text-align: center;
}

ul {
	list-style-type: none;
}

ul.menu
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li.menu
{

	display: inline-block;
	width: 18%;
	font-weight: bold;
	color: white;
	text-decoration: none;
	background: url("button.jpg");
	background-size: 100% 100%;
	border-bottom: 6px solid #111111;

}

a.menulink:link, a.menulink:visited {
	color: white;
	text-decoration:none;
	padding: 6px;
}

a.menulink:hover, a.menulink:active {
	background-color: #001515;
}